<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,
								initial-scale=1.0">
	<title>(Fastapi + HTMX) To Do App </title>
	<link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
	<!-- Include Tailwind CSS -->
	<link href=
"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
		rel="stylesheet">
	<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous" HX-Refresh="True"></script>
	<style>
		.completed {
			text-decoration: line-through;
		}
	</style>
</head>

<body class="bg-gray-100">

	<div class="container mx-auto my-10">
		<h1 class="text-center text-3xl font-semibold mb-4">
			(Fastapi + HTMX) To Do App
		</h1>
		<!-- HTMX buttons to test -->
		<!-- <h1 hx-get="/users/hooman">
			user
		</h1> -->
		<div class="md:w-1/2 mx-auto">
			<div class="bg-white shadow-md rounded-lg p-6">
				<form hx-post="/index/create"  hx-target="#tasks-list" hx-swap="none" hx-include="#task-input" hx-indicator="#loader">
					<style>
						.htmx-indicator {
							display: none
						}
			
						.htmx-indicator.htmx-request {
							display: inline;
						}
			
						.htmx-indicator.htmx-request~span {
							display: none;
						}
					</style>
					<div class="flex mb-4">
						<input type="text"
							class="w-full px-4 py-2 mr-2 rounded-lg
							border-gray-300 focus:outline-none
							focus:border-blue-500" id="task-input"
							placeholder="Add new task" name="task_name" required>
							<button class="add-button" type="submit">
								<svg id="loader" class="htmx-indicator ml-2 animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg"
								fill="none" viewBox="0 0 24 24">
								<!-- loader truncated for brevity -->
							</svg>
							<span>Add Task</span>
							</button>
					</div>
				</form>
				<ul id="tasks-list">
					{% for task in all_tasks %}
					<div class="card">
					  <div class="message-text-container">
						<p class="message-text">{{task.name}}</p>
						<!-- <p class="sub-text">Author: {{task.user_id}}</p> -->
						<div class="checkbox-wrapper-12">
						<div class="cbx">
							{% if task.is_done == True %}
							<input id="cbx-12" type="checkbox" hx-put="/tasks/{{task.id}}/update" hx-indicator="#loader" hx-target="#tasks-list" hx-swap="none" checked />
							{% else %}
							<input id="cbx-12" type="checkbox" hx-put="/tasks/{{task.id}}/update" hx-indicator="#loader" hx-target="#tasks-list" hx-swap="none" />
							{% endif %}
							<label for="cbx-12"></label>
							<svg width="15" height="14" viewBox="0 0 15 14" fill="none">
							<path d="M2 8.36364L6.23077 12L13 2"></path>
							</svg>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
							<defs>
							<filter id="goo-12">
								<feGaussianBlur
								in="SourceGraphic"
								stdDeviation="4"
								result="blur"
								></feGaussianBlur>
								<feColorMatrix
								in="blur"
								mode="matrix"
								values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7"
								result="goo-12"
								></feColorMatrix>
								<feBlend in="SourceGraphic" in2="goo-12"></feBlend>
							</filter>
							</defs>
						</svg>
						</div>

					</div>
				</div>
						<div class="button-container" style="justify-content: right;">
						<button class="button" hx-delete="/tasks/{{task.id}}/delete" hx-swap="none">
							  <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
						</button>
						<span>&ensp;</span>
					</div>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>

</html>
