<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous" HX-Refresh="True"></script>
   {% for task in all_tasks %}
    <div class="card">
      <div class="message-text-container">
        <p class="message-text">{{task.name}}</p>
        <!-- <p class="sub-text">Author: {{task.user_id}}</p> -->
        <div class="checkbox-wrapper-12">
        <div class="cbx">
            {% if task.is_done == True %}
            <input id="cbx-12" type="checkbox" hx-put="/tasks/{{task.id}}/update" hx-indicator="#loader" hx-target="index" hx-swap="beforeend" checked />
            {% else %}
            <input id="cbx-12" type="checkbox" hx-put="/tasks/{{task.id}}/update" hx-indicator="#loader" hx-target="index" hx-swap="beforeend" />
            {% endif %}
            <label for="cbx-12"></label>
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none">
            <path d="M2 8.36364L6.23077 12L13 2"></path>
            </svg>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
            <filter id="goo-12">
                <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="4"
                result="blur"
                ></feGaussianBlur>
                <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7"
                result="goo-12"
                ></feColorMatrix>
                <feBlend in="SourceGraphic" in2="goo-12"></feBlend>
            </filter>
            </defs>
        </svg>
        </div>

    </div>
</div>
        <div class="button-container" style="justify-content: right;">
        <button class="button" hx-delete="/tasks/{{task.id}}/delete" hx-swap="beforeend" hx-target="index.html">
              <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
        </button>
        <span>&ensp;</span>
    </div>
    {% endfor %}